@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter";
}

@layer utilities {
    /* For WebKit browsers (Chrome, Safari, Opera, Edge) */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  
    /* For Firefox and IE/Edge */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }